<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Detalle de producto</title>
</head>
<body>
	<h2>Soy el detalle del producto: <%= productId %> </h2>
	<h3><%= theProduct.name %></h3>
	<p><%= theProduct.price %></p>
	<img src="<%= theProduct.image %>" alt="">
</body>
</html>